services:
  resonite:
    image: shadowpanther/resonite-headless:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: resonite-headless
    tty: true
    stdin_open: true
    environment:
      DOTNETVERSION: "10.0"
      # STEAMBETA: headless
      # STEAMBETAPASSWORD: CHANGEME
      STEAMBETA: prerelease
      STEAMBETAPASSWORD: ""
      STEAMLOGIN: "USER PASSWORD"
    volumes:
      - resonite-data:/home/steam/resonite-headless
      - ./Config:/Config:ro
      - ./Logs:/Logs
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
volumes:
  resonite-data:
