services:
  resonite:
    image: shadowpanther/resonite-headless:latest
    container_name: resonite-headless
    tty: true
    stdin_open: true
    environment:
      STEAMBETA: headless
      STEAMBETAPASSWORD: CHANGEME
      STEAMLOGIN: "USER PASSWORD"
    volumes:
      - resonite-data:/home/steam/resonite-headless
      - ./Config:/Config:ro
      - ./Logs:/Logs
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
volumes:
  resonite-data:
